ALTER TABLE students ADD COLUMN emergencyContactName VARCHAR(100), ADD COLUMN emergencyContactRelationship VARCHAR(50), ADD COLUMN emergencyContactNumber VARCHAR(20), ADD COLUMN bloodType VARCHAR(5), ADD COLUMN allergies TEXT, ADD COLUMN medicalConditions TEXT, ADD COLUMN medications TEXT;
